/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/

:root {
  --transparent: transparent;
  --black: #000;
  --white: #fff;
  --light-gray: #A3A6A9;
  --dark-gray: #53565B;
  --green: #00825A;
  --red: #A30F31;
  --blue: #005DB6;
  --yellow: #F3AC00;
  --violet: #5B3DB1;
}
